{{#each projects}}
    <a href="{{directory}}">

        <div class="card">
            {{#if ../picture}}
                <img src=".{{imgurl}}" alt="{{title}} screenshot" />
            {{/if}}
            <h2>{{title}}</h2>

            {{#if ../descript}}
                <p>{{description}}</p>
            {{/if}}
        </div>

    </a>
{{/each}}