<h1>Cat Adoption</h1>
<ul>
    {{#each cats}}
        <li>
            <h2>This is {{name}}.</h2>
            <p>{{name}} is {{age}} weeks old.</p>
            {{#if available}}
                <button>Adopt me now!</button>
            {{else}}
                <p>{{name}} already found a home.</p>
            {{/if}}
        </li>
    {{/each}}
</ul>

{{> projectlist}}