<nav class="sidenav">
    <h2>my projects</h2>
    {{> projectlist }}</nav>
<div class="project">
    <h1>{{project/title}}</h1>

    <img class="bigpic" src="..{{project/imgurl}}" alt="big screenshot"/>
    
    <p>{{project/description}}</p>
    <a href="../{{project/directory}}" target="__blank"><button>Demo: {{project/title}}</button></a>
</div>


